{% extends "pages/jobs.html.twig" %}
{% block title %}Les soigneurs{% endblock title %}

{% block jobs %}
    <div class="disapear col-md-10 ">
        <div class="single-package-item jobs-height white-package jobs-items">

            <div class="col-md-3">
                <div class="jobs-package">
                    M.blanc
                    <a href="{{ path('job', {id:5})}}">
                        <img src="{{ asset('assets/images/jobs/whitemage.png') }}"/>
                    </a>
                </div><!-- /.filtr-item -->
            </div><!-- /.col -->


            <div class="col-md-3">
                <div class="jobs-package">
                    Erudit
                    <a href="{{ path('job', {id:6})}}">
                        <img src="{{ asset('assets/images/jobs/scholar.png') }}"/>
                    </a>
                </div><!-- /.filtr-item -->
            </div><!-- /.col -->


            <div class="col-md-3">
                <div class="jobs-package">
                    Astrom.
                    <a href="{{ path('job', {id:7})}}">
                        <img src="{{ asset('assets/images/jobs/astrologian.png') }}"/>
                    </a>
                </div><!-- /.filtr-item -->
            </div><!-- /.col -->


            <div class="col-md-3">
                <div class="jobs-package">
                    Sage
                    <a href="{{ path('job', {id:8})}}">
                        <img src="{{ asset('assets/images/jobs/sage.png') }}"/>
                    </a>
                </div><!-- /.filtr-item -->
            </div><!-- /.col -->
        </div>
    </div>
{% endblock jobs %}