{% extends 'layouts/main.html.twig' %}
{% block title %}Les jobs{% endblock title %}

{% block content %}

        <div class="container">
            <div class="about-us-content ">
                <div class="gallery-jobs">

                    <div class="gallery-box">
                        <div class="gallery-content">
                            <div class="filtr-container">
                                <div class="row">

                                    <div class="col-md-12 ">
                                        <div class="role-items">
                                            <div class="col-md-1">
                                            </div><!-- /.col -->

                                            <div class="col-md-2">
                                                <div class="disapear jobs-package">
                                                    <a href="{{ path('job', {id:21})}}">
                                                        <img src="{{ asset('assets/images/jobs/Tank_Icon_Flat_1.png') }}"/>
                                                    </a>
                                                    Tank
                                                </div><!-- /.filtr-item -->
                                            </div><!-- /.col -->

                                            <div class="col-md-2">
                                                <div class="disapear jobs-package">
                                                    <a href="{{ path('job', {id:22})}}">
                                                        <img src="{{ asset('assets/images/jobs/Healer_Icon_Flat_1.png') }}" alt="portfolio image"/>
                                                    </a>
                                                    Soigneur
                                                </div><!-- /.filtr-item -->
                                            </div><!-- /.col -->

                                            <div class="col-md-2">
                                                <div class="disapear jobs-package">
                                                    <a href="{{ path('job', {id:23})}}">
                                                        <img src="{{ asset('assets/images/jobs/Melee_DPS_Icon_Flat_1.png') }}" alt="portfolio image"/>
                                                    </a>
                                                    Mêlée
                                                </div><!-- /.filtr-item -->
                                            </div><!-- /.col -->

                                            <div class="col-md-2">
                                                <div class="disapear jobs-package">
                                                    <a href="{{ path('job', {id:24})}}">
                                                        <img src="{{ asset('assets/images/jobs/Physical_Ranged_DPS_Flat_Icon_1.png') }}" alt="portfolio image"/>
                                                    </a>
                                                    Distance
                                                </div><!-- /.filtr-item -->
                                            </div><!-- /.col -->

                                            <div class="col-md-2">
                                                <div class="disapear jobs-package">
                                                    <a href="{{ path('job', {id:25})}}">
                                                        <img src="{{ asset('assets/images/jobs/Magic_Ranged_DPS_Icon_Flat_1.png') }}" alt="portfolio image"/>
                                                    </a>
                                                    Magique
                                                </div><!-- /.filtr-item -->
                                            </div><!-- /.col -->
                                        </div>

                                    </div>
                                </div><!-- /.row -->

                                <div class="row">

                                    <div class="col-md-2">
                                        <div class="filtr-item">
                                            <img src="{{ asset(job.imageLocation) }}"/>
                                            <div class="item-title">
                                                <a href="#">
                                                </a>
                                            </div><!-- /.item-title -->
                                        </div><!-- /.filtr-item -->
                                    </div><!-- /.col -->

                                    <div class="col-md-10 col-sm-6">
                                        <div class="single-package-item white-package min-job-height">
                                            <div class="single-package-item-txt">
                                                <h3> {{ job.title }} </h3>
                                                <div class="packages-para">
                                                    <p>
                                                        {{ job.description }}
                                                     </p>
                                                 </div><!--/.packages-para-->

                                            </div><!--/.single-package-item-txt-->
                                        </div><!--/.single-package-item-->

                                    </div><!--/.col-->

                                    {% block jobs %}
                                    {% endblock jobs %}

                                </div>

                            </div>
                        </div><!-- /.filtr-container-->
                    </div><!-- /.gallery-content -->
                </div><!--/.galley-box-->
            </div><!--/.gallery-details-->

        </div><!--/.about-us-content-->
        </div><!--/.container-->

    </section><!--/.about-us-->
    <!--about-us end -->

{% endblock content %}